@charset "UTF-8";

	#box{
		margin-top: 3%;
	}

	#boardList{
		min-width: 1000px;
		
	}
	
	#menuBox{
		float: right;
	}
	
	#tr1{
		background: #E6E8E8;
	}
	
	#tr2 {
		background: #E6E8E8;
	}
	
	.list td{
		height: 40px;
		border-bottom: 1px solid #E6E6E6;
	}
	
	.list, #contentTable{
		text-align: center;
		border-top: 1px solid #A4A4A4;
		border-bottom: 1px solid #A4A4A4;
		border-collapse: collapse;
	}
	
	#titleTd {
		width: 700px;
	}
	
	#writerTd {
		width: 400px;
	}
	
	#dateTd {
		width: 400px;
	}
	
	#btngroup1{
		text-align: center;
	}
	
	a:link, a:visited{
 		text-decoration: none;
 		color: black;
 		font-weight: bold;
 	}
	
	.trtab:hover{
		background: #F6F6F6;
	}
	
	.tdMenu{
		width: 100px;
		height: 40px;
	}
	
	#contentTable td{
		border-bottom: 1px solid #E6E6E6;
	}
	
	#board_content, #board_title{
		text-align: left;
	}
	
	#board_title{
		width: 700px;
	}
	
	#writer{
		width: 200px;
	}
	
	#date{
		width: 200px;
	}
	
	#board_content{
		height: 230px;
		vertical-align: top;
		padding-top: 10px;
	}
	
	.content{
		padding-top: 10px;
		vertical-align: top;
	}
	
	#but{
		float: right;
	}
	
	.replyTable{
		text-align: left;
	}
	
	.replyMem{
		width: 100px;
		vertical-align: top;
		padding-top: 10px;
	}
	
	.replyContent{
		width: 1200px;
	}
	
	#replyContent{
		border: none;
		display: inline-block;
		width: 92%;
		height : 100px; 
		padding: 1.1em;
		vertical-align: middle;
	}
	
	#insertReply{
		padding-top: 10px;
		vertical-align: top;
		height: 100px;
		width: 60px;
	}
	
	#atch{
		text-align: left;
	}
	
	#reMenu{
		vertical-align: top;
		padding-top: 10px;
	}
	
	.butgroup2{
		text-align: right;
	}
	
	#firstLine, .inputTitle{
		background: #E6E8E8;
	}
	
	.inputTitle {
		border: none;
		width: 80%;
		vertical-align: middle;
		height: 40px;
	}

	.textareaContent {
		margin-top: 10px;
		border: none;
		vertical-align: top;
		height: 400px;
		width: 80%;
	}
	
	td{
		height: 40px;
	}
	
	#inputTd{
		width: 80%;
	}

	