@charset "UTF-8";

	#firstLine, .inputTitle{
		background: #E6E8E8;
	}
	
	.inputTitle {
		border: none;
		width: 1100px;
		vertical-align: middle;
		height: 40px;
	}
	
	.textareaContent {
		margin-top: 10px;
		border: none;
		vertical-align: top;
	}
	
	#noticeList{
		min-width: 1300px;
	}
	
	#menuBox{
		float: right;
	}
	
	img{
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
	
	h1{
		vertical-align: middle;
	}
	
	#tr1 {
		background: #E6E8E8;
	}
	
	.list td{
		height: 40px;
		border-bottom: 1px solid #E6E6E6;
	}
	
	.list, #contentTable{
		text-align: center;
		border-top: 1px solid #A4A4A4;
		border-bottom: 1px solid #A4A4A4;
		border-collapse: collapse;
	}
	
	.tableBorder td{
		border-top: 1px solid #E6E6E6;
		border-bottom: 1px solid #E6E6E6;
	}
	
	
	#notice_content, #notice_title{
		text-align: left;
	}
	
	.tdMenu{
		width: 100px;
		height: 40px;
	}
	
	#titleTd {
		width: 700px;
	}
	
	#writerTd {
		width: 400px;
	}
	
	#dateTd {
		width: 400px;
	}
	
	#btngroup1{
		text-align: center;
	}
	
	a:link, a:visited{
 		text-decoration: none;
 		color: black;
 		font-weight: bold;
 	}
	
	.trtab:hover{
		background: #F6F6F6;
	}
	
	#notice_title{
		width: 700px;
	}
	
	#writer{
		width: 300px;
	}
	
	#date{
		width: 300px;
	}
	
	#notice_content{
		height: 400px;
		vertical-align: top;
		padding-top: 10px;
	}
	
	.content{
		padding-top: 10px;
		vertical-align: top;
	}
	
	#butgrp3{
		float: right;
	}
	
	#butgrp4{
		float: right;
		margin-right: 150px;
	}
	
	#la1, #la2 {
		width: 100px;
	}
	
	